body{
    background:rgb(34, 33, 33);
}

#period_container{
    width: 200%;
    height: 200%;
}

#persons{
    position:absolute;
    top: 400px;
    left:200px;
}

#personel_info{
    position:absolute;
    top: 520px;
    left:200px;
}

#email{
    position:relative;
    top:30px;
}

/* #space{
    position: absolute;
    top: 3300px;
    color:rgb(34, 33, 33);
} */

#continue{
    background-color: rgba(194,164,113,255);
    position: relative;
    left:200px;
    top:800px;
}

#SpaLogo{
    height:200px;
    position: relative;
    right:70px;
}

#navbarr{
    height:70px;
}

.TextOrIcon-Gold{
    color:rgba(194,164,113,255);
}

.TextOrIcon-Grey{
    color:rgb(196, 186, 186);
}

.nav-link{
    background-color: rgba(194,164,113,255);
}

#Form_Action{
    position: relative;
    bottom:-150px;
}

#CheckForAV{
    background-color: rgba(194,164,113,255);
    position: relative;
    left:520px;
    top:100px;
}

#CheckForAV:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#LabelSelectNumOfPeop{
    display: none;
}

#date_picker{
    position: relative;
    left:-0px;
    width:1295px;
    height:50px;
    top:-10px;
}

#OptionsForSpaMain{
    position:absolute;
    /* left:270px; */
    /* top:550px; */
}
#OptionsForSpaMain2{
    position:absolute;
    /* left:270px; */
    top:600px;
}



#BoxFor1{
    background-color: rgb(41, 40, 39);
}

#arielove{
    height:200px;
}


.Select-1{
    background-color: rgba(194,164,113,255);
}

#Select-2{
    background-color: rgba(194,164,113,255);
}


#Select-3{
    background-color: rgba(194,164,113,255);
}

#Select-1:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Select-12:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Select-2:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Select-22:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Select-3:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Select-32:hover{
    background:black;
    color:rgba(194,164,113,255);
}





#BoxFor2{
    background-color: rgb(41, 40, 39);
}

#arierelaxing{
    height:220px;
}

#arierelaxingand45{
    height:220px;
}

#BoxFor3{
    background-color: rgb(41, 40, 39);
}


#divider2{
    color:rgba(194,164,113,255);
    position: absolute;
    top:550px;
    left:270px;
}

#divider3{
    color:rgba(194,164,113,255);
    position: absolute;
    top:2960px;
    left:270px;
}

#divider4{
    color:rgba(194,164,113,255);
    position: absolute;
    top:3240px;
    left:270px;
}

#TimeBox{
    background-color: rgb(41, 40, 39);
    position:absolute;
    width: 5000px;
    top:200px;
    left:150px;
}


#timebuttons{
    border-radius: 5px;
    display: inline-block;
    background: linear-gradient(126deg, rgba(27, 27, 27, 1) 0%, rgba(18, 18, 18, 1) 100%);
    color:rgba(194,164,113,255);
    border-top-color: rgba(194, 164, 113, .3);
    border-left-color: rgba(194, 164, 113, .3);
    border-right-color: #050505;
    border-bottom-color: #050505;
    border-width: 1px;
    width: 140px;
    height: 150px;
}


#timebuttons_disabled{
    border-radius: 5px;
    display: inline-block;
    background: gray;
    color:rgba(194,164,113,255);
    border-top-color: gray;
    border-left-color: gray;
    border-right-color:gray;
    border-bottom-color: gray;
    border-width: 1px;
    width: 150px;
    height: 150px;
}

#timebuttons_disabled:hover{
    cursor: not-allowed;
}
#timebuttons:hover{
    background:black;
    cursor:pointer;
}

#timebuttons:active{
    background:rgba(194,164,113,255);
    color:#050505
}

#timebuttons + #timebuttons{
    margin-right: 5px;
}

#Summary{
    position: absolute;
    top: 3280px;
    left:880px;
    margin-bottom: 30px;
}

#Summary:hover{
    background:black;
    color:rgba(194,164,113,255);
}

#Salon_Option_h4{
    position:absolute;
    top:-35px;
}


/* CustomScrollBar */

::-webkit-scrollbar{
    width:17px; 
}

::-webkit-scrollbar-track{ 
    /*background of scrollbar*/
    border: 3px solid #2e2e2c;  /*scrollbar border px,style,color*/
    background-color: #35322c;  /*background of range of scrollbar*/
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(194,164,113,255), rgb(94, 74, 30)); /*the draggable scrolling handle.*/
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
}

::-webkit-scrollbar-button:single-button{ /*buttonbackground of scrollbar*/
    background-color: #202020;
    display: block;
    /* border-style: solid; */
    /* height: 13px;
    width: 16px; */
    background-size:10px;
    background-repeat: no-repeat;
}

/*UP BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:decrement{  /*üçgenin normal hali*/
  border-width: 5px 5px 0px 0px;
  /* border-color: transparent transparent #06b5f0 transparent; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='50,00 0,50 100,50'/></svg>");
  background-position: center 4px;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover{  /*Hover yapınca üçgen mavi olsun*/
    /* border-color: transparent transparent lime transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active{  /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");

}



/*DOWN BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:increment {  /*üçgenin normal hali*/
    border-width: 0px 0px 5px 5px;
    /* border-color: #06b8f3 transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 100,0 50,50'/></svg>");
    background-position: center 4px;
    height: 16px;
    width: 16px;
  }
  
::-webkit-scrollbar-button:vertical:single-button:increment:hover { /*Hover yapınca üçgen mavi olsun*/
    /* border-color: lime transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

::-webkit-scrollbar-button:single-button:vertical:increment:active{ /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
